.postContainer {
  border-radius: 5px;
  background: #f5f5f5;
  width: 263px;
  height: 298px;
  flex-shrink: 0;
}

.details {
  width: 221.872px;
  height: 62px;
  flex-shrink: 0;
}
.reviewName {
  color: #774a47;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.reviewLocation {
  color: black;
}

.reviewRating {
  display: flex;
  padding: 4px 20px 4px 23px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  background: #977c5a;
  img {
    width: 14px;
    height: 14px;
  }
}
