.top-bar {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: sticky;
  top: 0;
  height: 80px;
}
nav {
  position: absolute;
}
nav ul {
  display: flex;
  padding-inline-start: 0px;

  //   flex-direction: s;
}

nav li {
  cursor: pointer;
}
.active {
  border-radius: 20px;
  color: #704638;
  width: 150px;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.inactive {
  border-radius: 20px;
  color: #704638;
  width: 150px;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: #704638;
}

.link:hover {
  color: #977c5a;
}

.profile {
  position: absolute;
  right: 20px;
}
.auth-container {
  display: flex;
  padding: 11px 14px 12px 30px;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  position: absolute;
  right: 20px;
}

.logoImg {
  position: absolute;
  left: 20px;
}
.logout {
  cursor: pointer;
  background-color: transparent;
  width: 115px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 20px;
  // background: #704638;
  border: 1.5px solid #704638;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  div {
    color: #704638;
  }
}
.login {
  color: #704638;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.signup {
  text-decoration: none;
  width: 115px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 20px;
  // background: #704638;
  border: 1.5px solid #704638;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  div {
    color: #704638;
  }
}

.profile {
  position: relative;
  display: flex;
  padding: 11px 14px 12px 30px;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 800;
  font-family: "Abyssinica SIL", serif;
  font-family: "Rubik", sans-serif;
  color: #704638;
}
